/*************************************************
 *  
 *      css RESET
 *
 *************************************************/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, q, th, td, caption, article, aside, figure, figcaption, footer, header, hgroup, nav, section, audio, video{
    margin: 0;
    padding: 0;
}
fieldset, img, iframe{
    border: 0 none;
	vertical-align: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th{
    text-align: left;
}
em, strong, th{
    font-style: normal;
    font-weight: 500;
}
sup{
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}
textarea{
    resize: none;
}
body, button, input, select, textarea{
	font:normal 12px/1.5 Tahoma,"Simsun"	
}

/* clear float */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    *zoom:1;
}

html, body{
    background: #FFF;
    color: #5e5e5e;
    font: 12px/1.5 Arial,simsun;
    text-align: left;
}
.M{
    width: 990px;
    margin: 0 auto;
}
a{
    color: #333; 
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
a:hover{
    color: #C00;
    text-decoration: underline;
}

/******************************
濠电偛顦崝宀勫船閿燂拷
**************************/
.fb{
	font-weight:bold;
	margin:0 4px;	
}
.red{
	color:#cc0000;	
}
.logo{
	margin:18px auto 0;	
}
#logo{
	margin:18px 40px 0 0;
}
#logo a{
	background:url(../images/registerlogo_1.png) no-repeat;width:300px;height:62px;
	margin-top: 16px;
}
.logo img{
	float:left;
}
.reg-cont{
	border:1px solid #E6E6E6;	
	padding-bottom:21px;
	margin-top:68px;
	position:relative;
	/*background:url(../images/register-bg_1.jpg) no-repeat right -70px;*/
}
.reg-cont-customer{
	border:1px solid #E6E6E6;	
	padding-bottom:57px;
	margin-top:68px;
	position:relative;
}
.reg-msg{
	border:1px solid #E6E6E6;	
	padding:50px 0 60px 80px;
	margin-top:28px;	
}
.reg-cont .title{
	position:absolute;
	top:-42px;	
	left:149px;
}
.title li{
	float:left;
	width:150px;
	height:40px;
	text-align:center;
	font:bold 14px/41px "Microsoft YaHei";
	margin-left:2px;
	color:#5e5e5e;
	background:#F3F3F3;
	border:1px solid #e6e6e6;
	border-bottom:0 none;
	cursor:pointer
}

.form-wrap{
		
}
.form-list{
	padding-top:40px;
}
.reg-items,.form-tips{
	padding:0 0 26px 151px;	
	height: 40px;
}
.form-tips{
	display:block;
	margin-bottom:18px;
	overflow:hidden;
	padding-bottom:0;	
}
.reg-items{
	position:relative;	
}
.reg-items .reg-label{
	display:inline;
	width:151px;
	height:38px;
	line-height:38px;
	font-size:14px;
	text-align:right;
	color:#888888;
	position:absolute;
	top:0;
	left:0;
	_left:-151px;
}
#chooseNumDefault{
    color: #a5a5a5;
    display: block;
    font-size: 12px;
    left: 157px;
    position: absolute;
    top: 10px;
    *top:11px;
    z-index: 1;
}

#chooseNum{
	background: url(../images/capital-tip-common_1.png) no-repeat -500px 0 transparent;
	z-index: 2;
}
.i-text{
	width:288px;
	height:36px;
	padding:0 4px;
	border:1px solid #ccc;
	font:normal 14px/36px Arial,"Simsun";
	color:#a5a5a5;	
	vertical-align: middle;	
	position: relative; 
}

input.i-text[type="password"]{
	font-size:16px;	
}
.focus{
	border-color:#a5a5a5;
	color:#5e5e5e;
}
.i-short{
	width:123px;	
}
.reg-btn,.okbtn{
	display:block;
	width:254px;
	height:40px;
	text-align:center;
	font:normal 16px/40px "Microsoft YaHei";
	color:#fff;
	/*background:url(../images/btn_1.gif) repeat-x;*/
	margin-left:151px;
	border:0 none;
	cursor:pointer;
}
.reg-btn:hover,.okbtn:hover{
	color:#fff;	
	text-decoration:none;
	background:#dd0000;
}
.reg-btn:active,.okbtn:active{
	background:#bb0000;	
}
.agreement{
	padding-left:150px;
	height:36px;
	line-height:36px;
}
.agreement input{
	vertical-align:-2px;	
	margin-right:5px;
}
.agreement a,.err-tips a{
	color:#006699;	
}
.msg-box{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:370px;	
	position:relative;
	color:#A5A5A5;
	vertical-align:middle;
	font-family:Arial,"Simsun";
	*margin-left:3px;
}
.msg-weak{
	background-color: #ffffff;
	padding:9px 5px 9px 5px;
	line-height:18px;	
	/*position:absolute;*/
	float: left;
	
	display:none;
}
.name-list{
	width:296px;
	_margin-left:-151px;
	_margin-top:1px;
	border:1px solid #ccc;
	border-top:0 none;
	position:absolute;
	top:38px;
	left:151px;
	z-index:5;
	background:#fff;
	padding-bottom:5px;	
}
.name-list li{
	width:286px;
	padding:0 5px;
	height:24px;
	line-height:24px;
	overflow:hidden;	
}
.name-list li.hover{
	background:#F8F8F8	
}
.reg-items input.err{
	border-color:#FF5757;
}
.err-list{
	width:286px;
	padding:4px 0 4px 10px;
	_margin-left:-151px;
	_margin-top:1px;
	border:1px solid #FFD2D2;
	border-top:0 none;	
	background:#FFECEC;
	line-height:24px;	
	position:absolute;
	top:38px;
	left:151px;
	z-index:5;
}
.err-list p{
	color:#a5a5a5;	
}
.err-list li{
	height:24px;
	line-height:24px;	
}
.err-list li input{
	vertical-align:-2px;	
	margin-right:9px;
	_margin-right:1px;
}
.err-tips{
	color:#FF5757;
}
.cur-tips{
	color:#2A8C01;	
}
.err-tips i{
	float:left;
	display:inline;
	margin-left:-21px;
	width:17px;
	height:17px;
	background:url(../images/register_1.png) no-repeat 0 0;	
}
.suc-icon{
	display:block;
	width:17px;
	height:17px;
	background:url(../images/register_1.png) no-repeat 0 -20px;
	overflow:hidden;
	position:absolute;
	top:10px;
	left:425px;
	_left:232px;
}
.check-icon{
	left:260px;
	_left:110px;
}
/*闁诲酣娼уΛ娑㈡偉濠婂喚鍤曢柛婵嗗椤旓拷*/
.pw-tips{
	width:288px;
	overflow:hidden;
	position:absolute;
	top:42px;
	left:151px;
	_left:0;
}
.pw-tips .txt{
	float:left;
	width:90px;
	text-align:right;	
	line-height:14px;
}
.pw-safe{
	width:120px;
	height:14px;
	overflow:hidden;
	position:relative;	
	background:#A5A5A5;
	float:left;
}
.pw-bar{
	height:14px;
	overflow:hidden;
	background:#cc0000;	
	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:width .4s linear;
}
.pw-weak .pw-bar{
	width:40px;	
}
.pw-medium .pw-bar{
	width:81px;
}
.pw-strong .pw-bar{
	width:122px;
}
.pw-letter{
	width:123px;
	height:14px;
	position:absolute;
	left:0;
	top:0;	
}
.pw-letter span{
	float:left;
	width:40px;
	height:14px;
	line-height:14px;
	*line-height:16px;
	line-height:16px\0;
	overflow:hidden;
	text-align:center;
	border-left:1px solid #fff;
	color:#fff;	
}
.check{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:38px;
	line-height:36px;
	margin-left:5px;
	cursor:pointer;
}
.check-border{
	border:1px solid #e6e6e6;
	
}
.check-border:hover{
	border-color:#a5a5a5;
}
.check-border a:hover{
	text-decoration:none;
	color:#333;
}
.check .disable{
	background:#f8f8f8;
	border-color: #e6e6e6;
    color: #ccc;
    cursor: default;
}
.check-phone{
	color: #5e5e5e;
}
/*婵°倗濮撮惌渚�鎯佹径鎰剺闁跨噦鎷�

.check-pic{
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #fff;	
}
.check-pic:hover{
	border-color:#e6e6e6	
}
.check-pic img{
	width:109px;
	height:36px;	
}
.check-phone{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:108px;
	height:36px;
	background:#F8F8F8;
	border:1px solid #ddd;
	font:normal 12px/36px "Simsun";
	text-align:center;
	color:#333;
}
.check-phone:hover{
	text-decoration:none;	
	color:#333;
}
.check .disable{
	cursor:default;
	border-color:#e6e6e6;
	color:#ccc;
}
.check .disable:hover{
	color:#ccc;	
}
.agreement-cont{
	display:none;
	width:588px;
	height:178px;
	padding:10px 0 10px 10px;
	border:1px solid #A8C7DC;
	margin-top:7px;
	background:#fff;
}
.agreement-xy{
	width:578px;
	height:178px;
	overflow:auto;
	padding-right:10px;
}
.reg-info{
	padding-left:50px;	
}
.reg-info label{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:24px;
	line-height:24px;	
}
.reg-info h2{
	font:normal 18px/40px "Microsoft Yahei";
	color:#2a8c01;	
}
.reg-info h2 em{
	font-family:Arial;	
	font-size:20px;
	vertical-align:-1px;
	margin:0 5px;
}
.reg-info h2.err{
	color:#cb0000;	
}
.reg-info h2 i{
	float:left;
	width:40px;
	height:40px;
	margin-left:-50px;
	background:url(../images/register_1.png) no-repeat -20px 0;
}
.reg-info h2.err i{
	background-position:-65px 0;	
}
.reg-info .info{
	line-height:22px;	
}
.reg-info .info em{
	font-weight:bold;
	color:#333;
	font-family:Arial;	
}
.reg-info .info a,.send-mail p a{
	color:#0066CC;	
}
.buy{
	margin-top:25px;	
}
.buy .btn,.buy-btn,.mail-btn,.send-mail .btn,.mail-verity .btn,
.check-info .btn{
	display:inline-block;
	width:80px;
	height:30px;
	line-height:30px;
	background:#cc0000;
	color:#fff;
	text-align:center;	
}
.buy .btn:hover,.mail-btn:hover,.send-mail .btn:hover,.mail-verity .btn:hover,
.check-info .btn:hover{
	background:#dd0000;
	text-decoration:none;
}
.buy .btn:active,.mail-btn:active,.send-mail .btn:active,.mail-verity .btn:active,
.check-info .btn:active{
	background:#bb0000;
	text-decoration:none;
}
.buy .my-gome{
	margin-left:12px;
	color:#0066CC;	
	font-family:"Simsun"
}
.buy-btn{
	width:78px;
	height:28px;
	line-height:28px;
	background:#F8F8F8;
	border:1px solid #ddd;
	color:#333;	
}
.buy-btn:hover{
	background:#f8f8f8;
	border-color:#ccc;
	color:#333;
	text-decoration:none;		
}
.buy-btn:active{
	background:#f3f3f3;
	border-color:#ccc;
	color:#333;	
	text-decoration:none;	
}
.mt3{
	margin-top:3px;	
}
.mt5{
	margin-top:5px;	
}
.mt8{
	margin-top:8px;	
}
.mt10{
	margin-top:10px;	
}
.mt15{
	margin-top:15px;	
}
.mt20{
	margin-top:20px;	
}
.mt25{
	margin-top:25px;	
}
.mb16{
	margin-bottom:17px;	
}
.mb20{
	margin-bottom:20px;	
}
.mb25{
	margin-bottom:25px;	
}
.mail{
	margin-top:35px	
}
.mail h3{
	font:bold 14px/22px "Microsoft Yahei";
	color:#333;	
}
.mail h3 em{
	color:#cc0000;	
}
.mail-verity{
	width:708px;
	background:#F3F3F3;
	border:1px solid #e6e6e6;
	margin-top:10px;
	margin-left:-11px;
	padding:26px 20px;
	overflow:hidden;	
}
.mail-verity label,.check-info label{
	float:left;
	height:26px;
	line-height:26px;	
}
.mail-txt{
	width:250px;
	height:24px;
	border:1px solid #ccc;	
	padding:0 4px;
	line-height:24px;
	color:#A5A5A5;
}
.mail-verity input.err
,.check-info input.err{
	border-color:#cc0000;
	color:#5e5e5e;
}
.mail-verity input.w150,
.check-info input.w150{
	width:140px;	
}
.mail-verity input.short-mail,
.check-info input.short-mail{
	width:68px;	
}
input.focus{
	border-color:#a5a5a5;
	color:#5e5e5e;	
}
.mail-btn{
	width:auto;
	height:26px;
	line-height:26px;
	vertical-align:top;
	margin-left:7px;
	padding:0 10px;	
}
.mail-btn:hover{
	color:#fff;	
}
.send-mail{
	width:708px;
	background:#F3F3F3;
	border:1px solid #ddd;
	margin-top:10px;
	margin-left:-11px;
	padding:10px 20px 25px;
	overflow:hidden;	
}
.send-mail p{
	line-height:22px;	
}
.send-mail .btn{
	margin-top:10px;	
}
.mail-verity .tips,.check-info .tips{
	padding-left:65px;
	line-height:14px;	
	color:#a5a5a5;
	margin-top:4px;
	margin-top:5px\0;
}
.mail-verity .tips a{
	color:#0066CC	
}
.mail-verity .err{
	color:#cc0000;
}
.msg-tips{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-left:7px;
	line-height:24px;	
}
.mail .suc{
	color:#2A8C01;	
}
.mail .err{
	color:#cc0000;	
}
.mail-verity .btn{
	height:26px;
	line-height:26px;
	margin:10px 0 0 73px;	
}
.check-num{
	height:24px;
	border:1px solid #ddd;
	background:#f8f8f8;
	text-align:center;
	line-height:24px;	
	color:#A5A5A5;
	cursor:default;
}
.check-num:hover{
	color:#A5A5A5;
	text-decoration:none;	
	background:#f8f8f8;
}
.recheck{
	height:24px;
	border:1px solid #ddd;
	background:#f8f8f8;
	text-align:center;
	line-height:24px;	
	color:#5e5e5e;	
}
.recheck:hover{
	color:#5e5e5e;
	background:#f3f3f3;	
	border:1px solid #ccc;	
}
.mail-tips {
    color: #5e5e5e;
    line-height: 22px;
    padding-left: 65px;
}
.check-tab{
	width:748px;
	border:1px solid #E6E6E6;	
	margin-top:15px;
	margin-left:-11px;
}
.check-items h4{
	height:30px;
	font:normal 12px/30px "Simsun";
	padding-left:20px;	
	background:#F3F3F3;
	cursor:pointer;
}
.check-items h4 i{
	float:left;
	width:3px;
	height:6px;
	background:url(../images/register_1.png) no-repeat -9px -40px;
	margin-left:-10px;
	margin-top:13px;
}
.check-cur h4{
	font-weight:bold;
	background:#fff;	
}
.check-cur h4 i{
	width:6px;
	height:3px;
	background-position:0 -40px;	
}
.check-info{
	padding:0 10px 20px 20px;
	line-height:20px;	
}
.check-info .btn{
	height:26px;
	line-height:26px;
	margin-top:10px;	
}
.check-info a.link{
	color:#0066CC;	
}




#ftr{
	overflow: visible;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 990px;
}
#ftr .footer-link{
	position: static;
	margin:27px 0 12px;
	text-align: center;
	color: #e6e6e6;
}
.footer-link a{
	display: inline-block;
	padding: 0 14px;
	color:#5e5e5e
}
.footer-link a:hover{
	color: #c00
}
#ftr .segments{
	text-align: center;
	margin-bottom: 8px;
	position: static
}
#ftr .gome-website{
	position: static
}
.segments .gome-website,
.segments cite{
	color: #a5a5a5;
	font-style: normal;
}
.segments .gome-website a{
	margin-right: 13px;
	color: #5e5e5e;
}
.segments .gome-website a:hover{
	color: #c00;
}
.copyright {
	text-align: center;
	line-height: 17px;
	color: #a5a5a5
}
.credit {
	margin: 5px 0;
	text-align: center
}

.credit a {
	display:inline-block;
	margin-right: 20px;
	text-decoration: none;
}

.select-segments {
	display: inline-block;
	cursor: pointer;
	position: relative;
	border: 1px solid #ccc;
	padding: 2px 15px 2px 5px;
	height: 15px;
	line-height: 15px;	
	color: #5e5e5e;
	font-size: 12px;	
}
.select-segments b {
	border: 3px solid #FFF;
	border-top-color: #5E5E5E;
	border-bottom: 0;
	position: absolute;
	width: 0;
	height: 0;
	top: 8px;
	right: 3px;
	overflow: hidden;
}
.segments .hover{
	z-index: 16;
	border-top-color:#fff;
	box-shadow: 0 9px 14px rgba(0, 0, 0, 0.2);
	background: #fff;
}
.segments .hover .fmasker{
	position: absolute;
	top: -12px;
	left: 0;
	width: 56px;
	height: 15px;
	background: #fff;
}
.segments .hover b {
	border: 3px solid #FFF;
	border-bottom-color: #5E5E5E;
	border-top: 0 none;
}

.segmentslist {
	position: absolute;
	width: 315px;
	top: -241px;
	right: 121px;
	border: 1px solid #ccc;
	box-shadow: 0 0 13px rgba(0,0,0,.2);
	padding: 10px;
	background: #FFF;
	line-height: 20px;
	z-index: 15;
}
.segmentslist ul{
	width: 370px;
}
.segmentslist a {
	color: #5e5e5e;
}
.segmentslist a:hover {
	color: #c00;
}
.segmentslist li {
	float: left;
	width: 89px;
	text-align: left;
}

/*  婵＄偑鍊撶徊濠氬礈閿燂拷
.footer{
	padding: 40px 0 20px;
	text-align: center;
}
.site-map{
	margin: 0 auto 12px;
	width: 600px;
	overflow: hidden;
}
.site-map li{
	float: left;
	padding: 0 15px;
	background: url(../images/login-bg.png) -131px -157px no-repeat;
	color: #5E5E5E;
}
.site-map li a{
	color: #5E5E5E;
}
.site-map li a:hover{
	color: #C00;
}
.gome-links{margin-bottom: 7px;}
.gome-links em{
	padding-left: 24px;
	color: #A5A5A5;
}
.gome-links a{
	margin: 0 7px; 
	color: #5E5E5E;
}
.gome-links a:hover{
	color: #C00;
}
.select-segments{
	height: 20px;
	line-height: 20px;
	padding: 0 15px 0 5px;
	color: #5E5E5E;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	border: 1px solid #CCC;
}
.select-segments b {
	position: absolute; 
	width: 6px; 
	height: 3px; 
	top: 8px; 
	right: 5px;
	background: url(../images/login-bg.png) no-repeat -125px -140px; 
}
.select-segments-hover b { 
	background-position: -125px -142px; 
}
.select-segments-hover .segmentslist{
	display: block;
}
.segmentslist{
	display: none;
	position: absolute;
	width: 360px;
	top: -243px;
	left: -150px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	background: #FFF;
	line-height: 20px;
	z-index: 10000;
}
.segmentslist a {
	color: #333 
}
.segmentslist li { 
	float: left; 
	width: 24%; 
}
*/

/*******************
*******閻庢鍠栧﹢閬嶆偘閿燂拷********
*******************/
#ftr{
	overflow: visible;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 990px;
}
#ftr .footer-link{
	position: static;
	margin:27px 0 12px;
	text-align: center;
	color: #e6e6e6;
}
.footer-link a{
	display: inline-block;
	padding: 0 14px;
	color:#5e5e5e
}
.footer-link a:hover{
	color: #c00
}
#ftr .segments{
	text-align: center;
	margin-bottom: 8px;
	position: static
}
#ftr .gome-website{
	position: static
}
.segments .gome-website,
.segments cite{
	color: #a5a5a5;
	font-style: normal;
}
.segments .gome-website a{
	margin-right: 13px;
	color: #5e5e5e;
}
.segments .gome-website a:hover{
	color: #c00;
}
.copyright {
	text-align: center;
	line-height: 17px;
	color: #a5a5a5
}
.pop-wrap{
	position: fixed;
    _position: absolute;
	top: 100px;
	_top:expression(documentElement.scrollTop+100);
	left: 50%;
    margin-left: -220px;
	width: 442px; 
	/*padding: 0 16px 16px 12px;
	background: url(../images/pop-bg.png) 0 bottom no-repeat;
	_background: #eee; */
	box-shadow:0 0 20px rgba(0, 0, 0, .19);
	*border:2px solid #919191;
	border:2px solid #919191\9;
	border:2px solid #919191\0;
}
.pop-box{
	position: relative;
	width: 442px;
	background: #FFF;
}
.pop-hd{
	height: 60px;
	background: #AE111D;
}
.pop-bd{
	position: relative;
	padding: 26px 0 0 60px;
	width: 302px;
}
.pop-bd .tab-list{
	position: absolute;
	left: 60px;
	top: -40px;
	width: 305px;
}
.pop-bd .tab-list li{
	float: left;
	margin-right: 1px;
	width: 150px;
	height: 39px;
	background: #C63942;
	color: #FFF;
	cursor: pointer;
	font-family: "Microsoft Yahei";
	font-size: 16px;
	line-height: 39px;
	text-align: center;
}
.pop-bd .tab-list .cur{
	width: 151px;
	height: 40px;
	background: #FFF;
	color: #CC0000;
}
.pop-close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 12px;
	height: 12px;
	background: url(../images/login-bg.png) 0 -135px no-repeat;
	text-indent: -999px;
	overflow: hidden;
}
.pop-close:hover{
	background-position: -15px -135px;
}
.items-1{
	z-index:10;	
}
.items-2{
	z-index:9;	
}
.items-3{
	z-index:8;	
}
.items-4{
	z-index:7;	
}
.items-5{
	z-index:6;	
}
.items-6{
	z-index:5;	
}
.items-7{
	z-index:4;	
}
.items-8{
	z-index:3;	
}
#normal-register-captcha img{
	cursor:pointer;
}
.msg-check{
	color:#2A8C01; 
	position:absolute; 
	top:41px;
}
.pw-none .pw-bar{
	width:0;	
}
.login-info{
 position:absolute;
 top:-25px;
 right:20px; 
}
.login-info a{
 color:#006699;
 margin-left:5px; 
}
.reg-err-tips {
    color: #cc0000;
    line-height: 22px;
    padding-left: 65px;
}
.pw-suggest{
    display: inline-block;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top:0;
    right: 0;
    color: #006699
}
.pw-suggest:hover{
 color:#006699;
}
.bomb-box{
    background: #fff none repeat scroll 0 0;
    position: fixed;
    box-shadow:0 0 20px #666;
    left: 50%;
    top: 150px;
    margin-left: -190px;
    z-index: 15;
    *index: 100;
    display: none;
}
.bomb-box-x{
    left: 43%
}
.bomb-box-posi{
    position: relative;    
    padding: 10px 20px 20px ;
    border: 1px solid #e6e6e6;
}
.bomb-box-title{
    margin-bottom: 20px;
}
.bomb-box-title h1{
    font: bold 14px/16px "Simsun";
}
.bomb-box-title a{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 17px;
    height: 17px;
    background: url(../images/register_img_1.png) no-repeat -30px -30px;
}
.bomb-box-title a:hover{
    background-position: -50px -30px;
}
.bomb-box-text{
    font: normal 12px/26px "Simsun";
	color: #333333;
}
.bomb-box-text-b{
    margin-top: 10px;
    color: #ff554a;
}
.rule-box{
    position:relative;
    display: inline-block;
    height: 36px;
    /*width: 288px;*/
    vertical-align: middle;
    border: 1px solid #CCC;
    *display: inline;
    *zoom:1;
    background-color: #fff;
}
.rule-box-text {
    display: inline-block;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

}
.rule-box-text a{
	color: #006699;
}
.rule-box-pos {
    display: inline-block;
    height: 36px;
    vertical-align: middle;
    width: 1px;
}
.transformation {
    border: medium none;
    font-size: 14px;
}
.reg-items-btn{
	padding: 15px 0 ;
	margin-top:-15px;
}
.reg-items-btn .agreement-select input{
    margin-right: 2px;
    vertical-align: -2px;
}
.reg-items-btn .agreement-select a{
    color: #006699;
}
.reg-items-btn .agreement-select a:hover{
    color: #C00;
}
.reg-items-btn .reg-btn,.reg-items-btn .okbtn{
    background-color: #ff5757;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 16px/40px "Microsoft YaHei";
    height: 40px;
    text-align: center;
    width: 298px;
    margin-top: 5px;
}
.reg-items-btn .reg-btn:hover{
    color: #FFF;
    text-decoration: none;
    background-color: #f64949;
}
.grey-layer{
    position: fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background: rgb(0, 0, 0) none repeat scroll 0% 0%; 
    opacity: 0.15; 
    z-index: 10;
    zoom: 10;
    display:none; 
    filter:alpha(opacity=15);
}
.agree-box{
    width: 670px;
    text-align: center;
}
.agree-btn{
    background-color: #ff554a;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 16px/32px "Microsoft YaHei";
    height: 32px;
    text-align: center;
    width: 120px;
    margin: 10px 0 20px 50px;
}
.agree-btn:hover{
    color: #fff;
    text-decoration: none;
}
/*闁告帡鏀遍弻濠囧冀瀹勬壆纭�*/
.refresh{
	background:url("../images/register_img_1.png") no-repeat scroll 0 -30px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    left: 110px;
    top: 13px;
    width: 18px;
    *display:inline;
    *zoom:1;
}
.suc-icon-little{
	left:262px;
	top:12px;
}
.mr30{
	margin-right:30px;
}
#authenticCode{
	float: left;
}
.hide{
	display: none;
}

/*register success*/
.register-success{
    margin: 120px 0 30px 330px;
    width: 500px;
}
.success-img{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/register_1.png) no-repeat -20px 0;
    float: left;
}
.success-content{
    float: left;
    line-height: 40px;
    font: 16px/40px "Microsoft YaHei";
    margin-left: 20px;
}
.success-content em{
    color: #FF8A0D;
}
.shopping-trip{
    width: 990px;
    text-align: center;
    margin-bottom:300px;
}
.shopping-trip a{
    color: #60c;
    margin-left: 10px;
}
.shopping-trip a:hover{
    color: #C00;
}
.all-title{
	float:left;
	font: normal 24px/48px "Microsoft YaHei";
	margin-left:40px;
	width: 100px;
	display: inline-block;
	padding-top:10px;
	color:#333;
}
.w990{
	width:990px;
	margin:0 auto;
}
/* clear float */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    *zoom:1;
}
.capsLock{
	position: absolute;
    top: -22px;
    padding:0px 10px;
    border:1px solid #edd288;
    color:#c00;
    background-color:#fffdee;
    display:none;
    left:151px;
}


/*****************************寮圭獥椤甸潰鏍峰紡*************************************/
.dn{display:none;}
.popBoxWrapper{ width:890px;height: 500px; display: block; top: 100px; left:50%;padding:16px 0px 5px 0px;position:absolute;top:100px; border:1px solid #eee;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);float: left;z-index:9999;background:#fff;font-family: 'Microsoft Yahei'}
.uc_box h5{font-size:16px; color:#000;font-weight:normal;text-align: center; padding:7px 0 8px 0;}
.uc_box h3{ font-size:14px; padding:15px 0;font-weight:normal;color:#fd8024;font-family:'Microsoft Yahei'; border-bottom: 1px solid #f0f0f0;}
.uc_box p{font-size:12px;color:#585858; line-height:24px;}
.protocol{padding-top: 15px;}
.protocol a{display: inline-block;color: #2875cc; font-size: 13px;padding-bottom: 5px;}
.protocol a:hover{text-decoration: underline!important;}
.protocol div{width: 795px; height: 75px; border: 1px solid #e6e6e6; overflow-y: auto; padding: 0 14px 0 9px;font-size: 12px;line-height: 24px; color: #333;}
.protocol div p.btline{text-decoration: underline;font-weight: bold}
.protocol div p.indent{text-indent: 2em;}
.popBoxBtn{text-align:center;margin-top:20px;margin-left: 308px;}
.popBoxBtn .inpNoBtn,.popBoxBtn .inpBtn{height: 30px;background: #fff;line-height: 30px;font-size: 14px;border-radius: 3px;float: left;}
.popBoxBtn .inpNoBtn{width: 77px;border: 1px solid #cacccf; color: #5a6066;margin-right: 20px;}
.popBoxBtn .inpBtn{width:104px; border:1px solid #f20c59; text-align:center; color:#f20c59;}
.popBoxBtn .inpNoBtn:hover{background: #d7d8d9;}
.popBoxBtn .inpBtn:hover{background:#f20c59;color: #fff;}
.popBoxWrapper.uc-main{ width:860px; padding:30px 0px 30px 0px;position:absolute;/* text-align:center; */border:1px solid #eee;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);float: left;z-index: 2;background:#fff;}
/* .uc_closed,.uc_closed:hover{background: url(../images/uc_sprite.gif) no-repeat;} */
.uc_closed{width:12px;height:12px;float:right;margin:-7px 10px 0px 0px;cursor:pointer;background-position:-260px -26px;}
.uc_closed:hover{background-position:-273px -26px;}
.uc_box{padding: 0 35px;}
.popBoxWrapper a:hover{text-decoration: none;}
#head-title, #head-guide {
    padding: 40px 40px 0 0;
    line-height: 30px;
}
